{% extends 'main.html' %}
{% load static %}
{% block stylesandtitle %}
<title>Posts</title>
<link rel="stylesheet" href="{% static 'styles/posts.css' %}">
{% endblock stylesandtitle %}
{% block content %}

<h1>All Posts</h1>

<div class="posts">
    {% for post in posts %}
    <div class="post">
        <div class="image">
            <img src="{{post.image.url}}" alt="">
        </div>
        <div class="title">
            <a href="{% url 'post' post.id %}">{{post.title}}</a>
        </div>
        <div class="desc">
            {{post.summary|slice:":200"}}
        </div>
        <div class="emoji">
            <div>
                <i class="fas fa-eye"></i> {{post.views}}
            </div>
            <div>
                <i class="fas fa-heart"></i> {{post.likes}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}